<div class="blog-formular">
  <h2>
    {{ editEntry ? (editEntry.titel + ' bearbeiten') : 'Neuen Eintrag erstellen' }}
  </h2>

  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">

    <div>
      <label for="titel">Titel<span class="required">*</span></label><br />
      <input
        type="text"
        id="titel"
        formControlName="titel"
        [ngClass]="{ 'input-error': myForm.get('titel')?.invalid && myForm.get('titel')?.touched }"
        placeholder="Titel"
      />
      <div *ngIf="hasError('titel', 'required')" class="fehlermeldung">
        Titel ist erforderlich.
      </div>
      
      <div *ngIf="hasError('titel', 'doppelt')" class="fehlermeldung">
        Ein Eintrag mit diesem Titel existiert bereits.
      </div>
    </div>

    <div>
      <label for="bildUrl">Bild-URL<span class="required">*</span></label><br />
      <input
        type="text"
        id="bildUrl"
        formControlName="image"
        [ngClass]="{ 'input-error': myForm.get('image')?.invalid && myForm.get('image')?.touched }"
        placeholder="URL"
      />
      <div *ngIf="hasError('image', 'required')" class="fehlermeldung">
        Bild-URL ist erforderlich.
      </div>
      <div *ngIf="hasError('image', 'pattern')" class="fehlermeldung">
        Bitte geben Sie eine gültige Webadresse ein (z.B. https://beispiel.de).
      </div>
    </div>

    <div>
      <label for="text">Text:</label><br />
      <textarea id="text" rows="4" maxlength="200" formControlName="text"></textarea>
    </div>
    
    <button
      type="submit"
      [disabled]="myForm.invalid"
      [ngClass]="{
        'btn-update': editEntry,
        'btn-save': !editEntry,
        'btn-disabled': myForm.invalid
      }"
    >
      {{ editEntry ? 'Eintrag aktualisieren' : 'Eintrag erstellen' }}
    </button>

    <p><span class="required">*</span> Pflichtfelder</p>
  </form>
</div>